<ModConfiguration>
	<Id>Jazornowsky.QuantumStorage</Id>
	<Name>Quantum Storage System</Name>
	<Version>1</Version>
	<IsLocalMod>false</IsLocalMod>
	<IsServerOnlyMod>false</IsServerOnlyMod>
	<Description>
		Most advanced storage, yet.
		If You like this mod, visit https://www.patreon.com/Jazornowsky for more future content updates and new stuff.
		Source: https://github.com/Jazornowsky/QuantumStorage
	</Description>
	<ChangeNode>
		- Added handbook descriptions.
	</ChangeNode>
</ModConfiguration>