<ModConfiguration>
	<Id>Jazornowsky.QuantumStorage</Id>
	<Name>QuantumStorage</Name>
	<Version>1</Version>
	<IsLocalMod>false</IsLocalMod>
	<IsServerOnlyMod>false</IsServerOnlyMod>
	<Description>
		Most advanced storage yet.
	</Description>
	<ChangeNode>
		- Initial version.
	</ChangeNode>
</ModConfiguration>